body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.no-x-overflow{
    overflow-x: hidden;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.full-height{
    min-height: 100%;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.text-center{
    text-align: center;
}

.top-bar{
    padding: 8px 40px;
    max-height: 15vh;
    background-color: #ECECEB;
}

.side-bar{
    background-color: #2E383F;
    color: gainsboro;
    padding: 20px;
}

.nav-list{
    padding: 10px 20px;
}
.nav-item{
    font-size: 24px;
}

.main{
    font-size: 24px;
    background-color: #07617D;
    padding: 20px 0px 0px 0px;
}

table{
    border-collapse: separate !important;
}

.table-main{
    border: 0px solid black;
}

.table-header{
    padding: 0px 20px;
    background-color: #07617D;
    color: white;
    font-size: 36px;
}


.main-item{
    background-color: #07617D;
    padding: 5px 20px;
    color: white;
}
.hoverable:hover{
    color: greenyellow;
}
.pointer{
    cursor: pointer;
}
.alt-item{
    background-color: #F9A828;
    padding: 5px 20px;
    color: black;
}

.fa-times{
    cursor: pointer;
    color: red;
}
.fa-plus{
    cursor: pointer;
    color: greenyellow;
}
